APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:BAq0A8CFhMqUVZdn/cfmfTdaIYRrcWPbncsGbxaKRiY=
APP_DEBUG=true
APP_URL=http://localhost:3000
API_URL=https://api-dev.immogestion.online
FRONTEND_URL==http://localhost:3000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
#DB_DATABASE=erp_studio4d_1
DB_DATABASE=erp_ste_sup_admin_22
DB_USERNAME=root
DB_PASSWORD=

#database Client
DB_CONNECTION_CLIENT=mysql_client
DB_HOST_CLIENT=127.0.0.1
DB_PORT_CLIENT=3306
DB_DATABASE_CLIENT=espace_client
DB_USERNAME_CLIENT=root
DB_PASSWORD_CLIENT=


CACHE_DRIVER=file

FILESYSTEM_DISK=local

QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

LINKEDIN_CLIENT_ID=78gxellzh8bctg
LINKEDIN_CLIENT_SECRET="WPL_AP1.e98D6mpaI6NxHK7a.MOyAxA=="
LINKEDIN_REDIRECT_URI=http://localhost:3000/linkedin-callback
WEBHOOK_BASE_URL= https://immogestion.online.live


MAIL_FROM_NAME="Notification"
MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=immo8969@gmail.com
MAIL_PASSWORD=qjvzsxzcfchuhcll
MAIL_ENCRYPTION=ssl


MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

#PUSHER_APP_ID=1728382
#PUSHER_APP_KEY=cb0195da05309b23fb11
#PUSHER_APP_SECRET=1af2e50be179fd69eb59




#PUSHER_APP_ID_2=1728385
#PUSHER_APP_KEY_2=a8902e6df8316a141921
#PUSHER_APP_SECRET_2=4c83880c2cee597c2172
#PUSHER_APP_CLUSTER_2=eu

BROADCAST_DRIVER=pusher_notify
BROADCAST_CONNECTION=pusher_notify  # Add this line

PUSHER_APP_ID_NOTIFY=1729964
PUSHER_APP_KEY_NOTIFY=520a899cd89c4916b212
PUSHER_APP_SECRET_NOTIFY=1407fb90de23b0ca9fa0
PUSHER_APP_CLUSTER_NOTIFY=eu

#Pusher for proposition bien et rdv
PUSHER_APP_ID_REALTIME=1750706
PUSHER_APP_KEY_REALTIME=6f607e4ed6b003cf03e7
PUSHER_APP_SECRET_REALTIME=2c67c016bf595f8ed1cc
PUSHER_APP_CLUSTER_REALTIME=eu


#Pusher for avances AND RDV LIST in show reservation
PUSHER_APP_ID_LIST=2070020
PUSHER_APP_KEY_LIST=ad0dec46ce598eeb0b88
PUSHER_APP_SECRET_LIST=268f5a1c18f0bd993420
PUSHER_APP_CLUSTER_LIST=eu


#Pusher for att vente et contrat in show reservation
PUSHER_APP_ID_DOCUMENT=2070020
PUSHER_APP_KEY_DOCUMENT=5ddf379163ba4bb01fc8
PUSHER_APP_SECRET_DOCUMENT=1fad39aa636bf5436995
PUSHER_APP_CLUSTER_DOCUMENT=eu


#Pusher for whatsapp

PUSHER_APP_ID_whtsp=2070020
PUSHER_APP_KEY_whtsp=c3e1f5ef9cde8f7376d2
PUSHER_APP_SECRET_whtsp=aae1889e06b26be769f8
PUSHER_APP_CLUSTER_whtsp=eu

PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=eu

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

INSTANCE_ID_ULTRA_MSG = instance112490
TOKEN_ULTRA_MSG = y6ygzpeqp4hsbe2v


#Template twilio
TEMPLATE_WELCOME=HX67b0f1cbc22394c4e9fc2d27f2d0ea37_fadwa
TEMPLATE_RDV_CONFIRMATION=HXf3b421fc569ba9bc49ce4e79f0b3c6fc_fadwa
TEMPLATE_RAPPEL_RDV_PROSPECT=HXc789e126da3f22b77f711d7de3339ad9_fadwa
TEMPLATE_ECHEANCE_PAIEMENT=HXb2c6b4e4f607365638dfa2fd8dc28cc3_fadwa


TWILIO_ACCOUNT_SID=AC8d0c3cf6232bfea86aff5dc90a34f03d
TWILIO_AUTH_TOKEN=9a2074225bcc1855e769168353ef8daf
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

