option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: "false"
    APP_URL: "http://erp-immo-api-prod-v2.eu-central-1.elasticbeanstalk.com"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    Port: 80
    Protocol: HTTP
