option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: "false"
    APP_URL: "http://Erp-studio3d-v2-env.eba-b2ndfrzu.eu-west-1.elasticbeanstalk.com"

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    Port: 80
    Protocol: HTTP
